
<mat-toolbar>Registro de Pedido</mat-toolbar>

<form class="container" [formGroup]="form">
  
  <mat-form-field>
    <input matInput placeholder="Cliente" type="text" [matAutocomplete]="autoCliente" [formControl]="ctrlCliente" 
      formControlName="cliente">    
    <mat-autocomplete #autoCliente="matAutocomplete" [displayWith]="mostrarSeleccion">
      <mat-option *ngFor="let c of clientesFiltrados | async" [value]="c">
        {{ c.nombreCompleto }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Plato" type="text" [matAutocomplete]="autoPlato" [formControl]="ctrlPlato" 
      formControlName="plato">    
    <mat-autocomplete #autoPlato="matAutocomplete" [displayWith]="mostrarSeleccionPlatos">
      <mat-option *ngFor="let p of platosFiltrados | async" [value]="p">
        {{ p.nombre }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> 


  </form>   