<!-- Start Footer -->
<footer class="footer-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 white_fonts">
                <h4 class="text-align">Contactanos</h4>
            </div>
            <div class="margin-top_30 col-md-8 offset-md-2 white_fonts">
                <div class="row">
                    <div class="col-md-4">
                        <div class="full icon text_align_center">
                            <img src="assets/images/social1.png">
                        </div>
                        <div class="full white_fonts text_align_center">
                            <p>Quito-Ecuador
                                <br>Escuela Pólitecnica Nacional</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="full icon text_align_center">
                            <img src="assets/images/social2.png">
                        </div>
                        <div class="full white_fonts text_align_center">
                            <p>luis.falconi@epn.edu.ec
                                <br>brad.alvarez@epn.edu.ec</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="full icon text_align_center">
                            <img src="assets/images/social3.png">
                        </div>
                        <div class="full white_fonts text_align_center">
                            <p>09 84412619
                                <br>09 12354568</p>
                        </div>
                    </div>
                </div>
            </div>