<mat-card>{{usuario}}</mat-card>
<mat-card>{{usuarioLog}}</mat-card>
<!-- <mat-card> Creado el: {{desde | date: 'dd-MM--yyyy' }}</mat-card>
<mat-card> Ultima Conexion {{ultimaConexion | date: 'dd-MM-yyyy'}}</mat-card> -->

<mat-card>Tipo de Sesion {{usuarioSocial}}</mat-card>
<!-- <img mat-card-image [src]="fotoSocial" style="height: 60px; width: 60px;" *ngIf="fotoSocial"> -->
<div style="text-align: center;">
    <mat-list role="list" *ngFor="let p of perfil" style="text-align: center;">
        <div *ngIf="usuarioLog == p.userUID">
            <h3>Restaurante Muerto de Hambre</h3>
            <mat-list-item role="listitem"><mat-icon>storefront</mat-icon>{{p.nombreRestaurante}}</mat-list-item>
            <mat-list-item role="listitem"><mat-icon>local_dining</mat-icon>{{p.tipoRestaurante}}</mat-list-item>
            <mat-list-item role="listitem"><mat-icon>business</mat-icon>{{p.direccionRestaurante}}</mat-list-item>
            <mat-list-item role="listitem"><mat-icon>directions_run</mat-icon>{{p.capacidadRestaurante}}</mat-list-item>
            <mat-list-item role="listitem"><mat-icon>schedule</mat-icon>{{p.horarioRestaurante}}</mat-list-item>
            <img matCardImage [src]="p.imagenRes" *ngIf="p.imagenRes"/>
        </div>
    </mat-list>
</div>
<!-- <mat-list role="list" *ngFor="let p of perfil" style="text-align: center;">
        <div *ngIf="p.userUID != usuarioLog && p.nombreRestaurante == 'res'">
            <div>
                <p>Deseas agregar informacion de tu restaurante ahora?</p>
                <button mat-stroked-button (click)="onNewPost()">
                      <mat-icon>note_add</mat-icon>&nbsp; Agregar Restaurante
                </button>
            </div>
        </div>    
</mat-list> -->
<div *ngIf="validacion(valor) == false">
    
    <p>Deseas agregar informacion de tu restaurante ahora?</p>
    <button mat-stroked-button (click)="onNewPost()">
        <mat-icon>note_add</mat-icon>&nbsp; Agregar Restaurante
    </button>
</div>
<!-- Forma de validar si un restaurante esta aprobado, poder agregar promociones -->
<div *ngIf="validacion(valor)" style="text-align: center;">
    <div *ngFor="let p of perfil">
        <div *ngIf="usuarioLog == p.userUID">
            <div *ngIf="p.resVerificado && p.resVerificado.toString() === 'Aprovado'">
                <app-promociones></app-promociones> 
            </div>
        </div>
    </div>  
</div>







