.divCenter{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}


.element.style {
    padding-left: 83px;
    padding-right: 50px;
}

button.mat-primary {
    background-color: #473ab7;
}

.social-g{
    text-align: center;
    padding: 0 37% 0 37%;
}

.social-f{
    padding: 0 34% 0 34%;
}

.inicio{
    background-color:gray;
    padding: 0 35% 0 35%;
}

.iniciarS{
    background-color:#b53f3f;
    color: #fff;
}

.crear{
    background-color:#b53f3f;
    color: #fff;

}

.mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
    /* margin: 0 8px; */
    margin: 5px 8px;
}

.login-content{
    margin-left: 76px;
}
.titulo{
    margin-left: 35%;
}


