<router-outlet></router-outlet>

      <div sclass="example-container mat-elevation-z8">

        <mat-table [dataSource]= "dataSource" matSort >
            <ng-container matColumnDef="nombreR">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Restaurante"> {{row.nombreRestaurante}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="tipoR">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Tipo"> {{row.tipoRestaurante}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="direccionR">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Dirección"> {{row.direccionRestaurante}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="horarioA">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Hora de Apertura"> {{row.horaApertura}} &nbsp; A.M</mat-cell>
            </ng-container>

            <ng-container matColumnDef="horarioC">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Hora de Cierre"> {{row.horaCierre}} &nbsp; PM</mat-cell>
            </ng-container>

            <ng-container matColumnDef="capacidadR">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let row" data-label="Capacidad"> {{row.capacidadRestaurante}} &nbsp; personas </mat-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">

                <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <div *ngIf="usuarioLog == row.userUID">
                          <button mat-icon-button color="primary" (click)="editarRestaurante(row)">
                              <mat-icon arial-label="Actualizar">edit</mat-icon>
                          </button>
                      <!-- <button mat-icon-button color="primary" [routerLink]="['edicion', row.id]">
                          <mat-icon arial-label="Actualizar">assignment</mat-icon>
                      </button> -->
                  </div>
                  <div *ngIf="usuarioLog == row.userUID">
                      <button mat-icon-button color="accent" (click)="eliminar(row)">
                          <mat-icon arial-label="Eliminar">highlight_off</mat-icon>
                      </button>
                  </div>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>


      </div>


    <div  *ngFor="let p of perfil$ | async ">
        <div *ngIf="usuarioLog == p.userUID && p.imagenRes" >
            <mat-card class="example-card">
                <mat-card-header>
                    <h3>Foto Restaurante</h3>
                </mat-card-header>
                    <mat-card-content>
                        <img matCardImage [src]="p.imagenRes" *ngIf="p.imagenRes" width="50px" height="400px"/>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
