<form [formGroup]="form" (ngSubmit)="operar()" class="container">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="id" formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre del Plato" formControlName="nombre">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Precio del Plato" formControlName="precio" type="number">
    </mat-form-field>

    <!-- Boton para subir archivos con el estilo de Angular Material -->
    <button mat-raised-button onclick="document.getElementById('input_subida').click()" type="button">Examinar</button>
    <input id="input_subida" type="file" style="display: none" (change)="seleccionar($event)">
    <p>{{labelFile}}</p>

    <button mat-raised-button color="primary" type="submit">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>

    <button mat-raised-button color="accent" routerLink='/plato' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>