<div class="restaurante-container">
    <form [formGroup]="editResForm" (ngSubmit)="editPerfil(editResForm.value)" class="container" >
        <!-- De esta manera uso el input -->
        <!-- {{perfil | json}} -->
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre del Restaurante" formControlName="nombreRestaurante">
            <div *ngIf="editResForm.get('nombreRestaurante').errors && editResForm.get('nombreRestaurante').dirty " >
                <p class="e" *ngIf="editResForm.get('nombreRestaurante').hasError('required')">El campo no debe estar vacio</p>
                <p class="e" *ngIf="editResForm.get('nombreRestaurante').hasError('minlength')">Minimo 3 caracteres</p>
                <p class="e" *ngIf="editResForm.get('nombreRestaurante').hasError('maxlength')">Maximo 20 caracteres</p>
            </div>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Tipo de Restaurante" formControlName="tipoRestaurante">
            <div *ngIf="editResForm.get('tipoRestaurante').errors && editResForm.get('tipoRestaurante').dirty " >
                <p class="e" *ngIf="editResForm.get('tipoRestaurante').hasError('required')">El campo no debe estar vacio</p>
                <p class="e" *ngIf="editResForm.get('tipoRestaurante').hasError('minlength')">Minimo 3 caracteres</p>
                <!-- <p class="e" *ngIf="editResForm.get('tipoRestaurante').hasError('email')">Debe ser un email valido</p> PRUEBA DE EMAIL-->
                <p class="e" *ngIf="editResForm.get('tipoRestaurante').hasError('maxlength')">Maximo 20 caracteres</p>
            </div>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Horario del Restaurante" type="time" min="04:00" max="11:59" formControlName="horarioRestaurante">
            <div *ngIf="editResForm.get('horarioRestaurante').errors && editResForm.get('horarioRestaurante').dirty " >
                <p class="e" *ngIf="editResForm.get('horarioRestaurante').hasError('required')">El campo no debe estar vacio</p>
                <p class="e" *ngIf="editResForm.get('horarioRestaurante').hasError('minlength')">Minimo 3 caracteres</p>
                <p class="e" *ngIf="editResForm.get('horarioRestaurante').hasError('maxlength')">Maximo 20 caracteres</p>
                <p class="e" *ngIf="editResForm.get('capacidadRestaurante').hasError('pattern')">El campo debe contener     </p>

            </div>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Dirección del Restaurante" formControlName="direccionRestaurante">
            <div *ngIf="editResForm.get('direccionRestaurante').errors && editResForm.get('direccionRestaurante').dirty " >
                <p class="e" *ngIf="editResForm.get('direccionRestaurante').hasError('required')">El campo no debe estar vacio</p>
                <p class="e" *ngIf="editResForm.get('direccionRestaurante').hasError('minlength')">Minimo 3 caracteres</p>
                <p class="e" *ngIf="editResForm.get('direccionRestaurante').hasError('maxlength')">Maximo 50 caracteres</p>
            </div>
        </mat-form-field>
    
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Capacidad del Restaurante" formControlName="capacidadRestaurante">
            <div *ngIf="editResForm.get('capacidadRestaurante').errors && editResForm.get('capacidadRestaurante').dirty " >
                <p class="e" *ngIf="editResForm.get('capacidadRestaurante').hasError('required')">El campo no debe estar vacio</p>
                <p class="e" *ngIf="editResForm.get('capacidadRestaurante').hasError('minlength')">Minimo 1 caracteres</p>
                <p class="e" *ngIf="editResForm.get('capacidadRestaurante').hasError('maxlength')">Maximo 5 caracteres</p>
                <p class="e" *ngIf="editResForm.get('capacidadRestaurante').hasError('pattern')">El campo debe contener numeros</p>
            </div>
        </mat-form-field>
        <button mat-raised-button onclick="document.getElementById('input_subida').click()" type="button"><mat-icon>cloud_upload</mat-icon>  <span>Foto Restaurante</span></button>
        <input id="input_subida"  type="file" style="display: none" formControlName="fotoRes" (change)="seleccionar($event)">

        <p>{{labelImage}}</p>
        <button mat-raised-button color="primary" type="submit" [disabled]="editResForm.invalid" [mat-dialog-close]="true">
            <mat-icon>done</mat-icon>
            <span>Aceptar</span>
        </button>

    
        <button mat-raised-button color="accent" type="button" [mat-dialog-close]="true" (click)="cancelar($event)">
            <mat-icon>close</mat-icon>
            <span>Cancelar</span>
        </button>
     
    </form>
</div>