<div class="container" *ngIf="perfil$ | async as perfil; else loading">
    <h1>Perfil Restaurante</h1>
    <mat-card class="post-card">
      <img matCardImage class="align-center" [src]="perfil.imagenRes" *ngIf="perfil.imagenRes" width="200px;" height="300px;"/>
      <mat-card-content>
        <mat-card-title>
          {{ perfil.nombreRestaurante }}
        </mat-card-title>
        <p class="content"> Tipo: 
          {{ perfil.tipoRestaurante }}
        </p>
        <p class="content"> Horario: 
            {{ perfil.horarioRestaurante }}
        </p>
        <p class="content"> Capacidad: 
            {{ perfil.capacidadRestaurante }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-template #loading>
    <div class="container-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>