@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 
/*
  https://github.com/webpack-contrib/sass-loader/issues/530
 * Actual Sticky Footer Styles
 */
.all-wrap {
  min-height: 100vh;
}

.mat-toolbar.mat-primary {
  background: #71696d;
  color: #fff;
}

.mat-sidenav-container.mat-drawer-container{
  background-color: #fff;
  color: rgba(0,0,0,.87);
}

 
.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 
.content {
  flex: 1;
}
 
/*
 * Make the Component injected by Router Outlet full height:
 */
main {
  display: flex;
  flex-direction: column;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}

.spacer {
  flex: 1 1 auto;
}

.footer{
  text-align: center;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  display: flex;
}