<!-- section -->
<div class="section layout_padding theme_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
                <div class="full">
                    <img class="img-responsive" src="assets/images/resume_img1.png" alt="#" />
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 white_fonts">
                <h3 class="small_heading">NUESTROS CLIENTES</h3>
                <p>CLIENTES</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, dignissimos quo. Dolore impedit blanditiis est, quas ipsum a quasi architecto officiis modi repellat repudiandae laudantium, voluptate saepe. Mollitia, consequatur architecto.</p>
                <a routerLink="/cliente" class="hvr-radial-out button-theme">Ir ></a>
            </div>
        </div>
    </div>
</div>
<!-- end section -->