<mat-card>{{usuario}}</mat-card>
<mat-card>{{usuarioLog}}</mat-card>

<mat-card>Tipo de Sesion {{usuarioSocial}}</mat-card>
<img mat-card-image [src]="fotoSocial" style="height: 60px; width: 60px;" *ngIf="fotoSocial">
<div>
    <!-- <mat-list role="list" *ngFor="let p of platos">
        <div *ngIf="usuarioLog == p.userUID">
            <h2>Desayuno del Día</h2><br>
        <mat-list-item role="listitem"><h4>Desayuno: </h4>{{ p.platoDesayuno}}</mat-list-item>
        <mat-list-item role="listitem"><h4>Detalle/Ingredientes: </h4> {{ p.detalleDesayuno}}</mat-list-item>
        <mat-list-item role="listitem"><h4>Precio: </h4>{{ p.precioDesayuno}} $</mat-list-item>
        <h2>Almuerzo del Día</h2><br>
        <mat-list-item role="listitem"><h4>Entrada: </h4>{{p.entradaAlmuerzo}}</mat-list-item>
        <mat-list-item role="listitem"><h4>Segundo: </h4>{{p.segundoAlmuerzo}}</mat-list-item>
        <mat-list-item role="listitem"><h4>Jugo:</h4> {{p.jugoAlmuerzo}}</mat-list-item>
        <mat-list-item role="listitem"><h4>Precio:</h4> {{p.precioAlmuerzo}} $</mat-list-item>
        <p>Platos Especiales</p><br>
        <mat-list-item role="listitem">{{p.platoEspecial}}</mat-list-item>
        
        <img matCardImage [src]="p.imgPlatoEspecial | async" width="500px" height="300px"/>
             //*ngIf="urlImage" 
        </div>
    </mat-list> -->
    <!-- *ngIf="usuarioLog == p.userUID" -->
    <div  *ngFor="let plato of plato$ | async ">
        <div *ngIf="usuarioLog == plato.userUID">
            <mat-card-title>Menu del Dia</mat-card-title>
            <mat-card class="example-card" >
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title *ngIf="plato.platoDesayuno">Desayuno</mat-card-title>
                    <mat-card-subtitle>Desayuno: {{plato.platoDesayuno}}</mat-card-subtitle>
                    <mat-card-subtitle>Detalles / Ingredientes: {{plato.detalleDesayuno}}</mat-card-subtitle>
                    <mat-card-subtitle>Precio : {{plato.precioDesayuno}} $</mat-card-subtitle>
                    <mat-card-title *ngIf="plato.entradaAlmuerzo">Almuerzo</mat-card-title>
                    <mat-card-subtitle>Entrada: {{plato.entradaAlmuerzo}}</mat-card-subtitle>
                    <mat-card-subtitle>Segundo: {{plato.segundoAlmuerzo}}</mat-card-subtitle>
                    <mat-card-subtitle>Jugo: {{plato.jugoAlmuerzo}}</mat-card-subtitle>
                    <mat-card-subtitle>Precio: {{plato.precioAlmuerzo}} $</mat-card-subtitle>
                </mat-card-header>
                    <mat-card-content>
                        <mat-card-title *ngIf="plato.imgPlato">Plato Especial</mat-card-title>
                        <img matCardImage [src]="plato.imgPlato" *ngIf="plato.imgPlato" width="500px" height="300px"/>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
        </div>
    </div>



    <div *ngIf="validacionRestauranteExiste(valorRestaurante) == false; else nuevoMenus">
        <p>Debes Agregar un restaurante prmiero</p>
    </div>

    <ng-template #nuevoMenus>
    <!-- Si no existe un menu creado se habilita el boton -->
        <div *ngIf="validacion(valor) == false">
            <p>Ingresa tu menu del Dia!</p>
            <button mat-stroked-button (click)="nuevoMenu()">
                <mat-icon>note_add</mat-icon>&nbsp; Agregar Menu
            </button>
        </div>
    </ng-template>
</div>
