  <div class="home">
    <div>
        <mat-tab-group class="tab" mat-align-tabs="center" animationDuration="1000ms">
            <mat-tab label="¿Quiénes somos?">
              <p>Muertos de Hambre es la aplicación oficial de la Escuela Politécnica Nacional, que permite a los estudiantes
                maestros, y todo el personal correspondiente a la EPN poder disfrutar de la variedad gastronómica del sector,
                Aqui encontraras los distintos restaurantes de la zona, podras disfrutar del menú diario que ofrece cada restaurante,
                asi como sus horarios de atención y capacidad. 
                En nuestra app móvil podras obtener en tiempo real la dirección exacta del restaurante y podras realizar una reserva y dirigirte con tus panas
                a degustar lo que mas te apetezca en el día.
              </p>
                <img src="assets/food.jpg" width="100%" style="margin: 5%;">
            </mat-tab>
            <mat-tab label="Nuestros clientes">
              <p>Muertos de Hambre es la aplicación oficial de la Escuela Politécnica Nacional, que permite a los estudiantes,
                maestros y todo el personal correspondiente a la EPN poder disfrutar de la variedad gastronómica del sector,
                Aqui encontraras los distintos restaurantes de la zona, podras disfrutar del menú diario que ofrece cada restaurante,
                asi como sus horarios de atención y capacidad. 
                En nuestra app móvil podras obtener en tiempo real la dirección exacta del restaurante y podras realizar una reserva y dirigirte con tus panas
                a degustar lo que mas te apetezca en el día..</p>
                <div style="text-align: center;">
                  <app-cliente></app-cliente>
                </div>
            </mat-tab>
            <mat-tab label="Nuestra App Móvil">
              <p>Link a la PlayStore</p>
              <img src="assets/app.png" width="150" style="margin-left:30px;">
              <img src="assets/app1.png" width="350" style="margin-left:30px;">
              <img src="assets/app2.jpg" width="350" style="margin-left:30px;">
            </mat-tab>
            <mat-tab label="Menu del Dia">
              <p>Al Día</p>
               <app-menus></app-menus>
            </mat-tab>
            <mat-tab label="Promociones">
              <p>Promociones</p>
              <app-promociones-inicio></app-promociones-inicio>
            </mat-tab>
          </mat-tab-group>
    </div>     
  </div>
