  <!-- <mat-toolbar color="Warm">
    <span>MuertosDeHambre.com</span>

    <span class="example-fill-remaining-space"></span>
  
    <button mat-button routerLink='/login'color="primary">Iniciar Sesión</button>
    <button mat-button routerLink='/crearUsuario' color="primary">Crear Usuario</button>
  </mat-toolbar> -->

  <div style="margin: 50px;">
    <div>
        <mat-tab-group style="margin-left: 50px;">
            <mat-tab label="¿Quiénes somos?">
              <p>Food truck fixie locavore, accusamus mcsweeney's 
                marfa nulla single-origin coffee squid. Exercitation 
                +1 labore velit, blog sartorial PBR leggings next level 
                wes anderson artisan four loko farm-to-table craft beer twee. 
                Qui photo booth letterpress, commodo enim craft beer mlkshk 
                aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud 
                organic, assumenda labore aesthetic magna delectus mollit.</p>
                <img src="assets/food.jpg" width="650" style="margin-left:30px;">
            </mat-tab>
            <mat-tab label="Nuestros clientes">
              <p>Food truck fixie locavore, accusamus mcsweeney's 
                marfa nulla single-origin coffee squid. Exercitation 
                +1 labore velit, blog sartorial PBR leggings next level 
                wes anderson artisan four loko farm-to-table craft beer twee. 
                Qui photo booth letterpress, commodo enim craft beer mlkshk 
                aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud 
                organic, assumenda labore aesthetic magna delectus mollit.</p>
                <img src="assets/food.jpg" width="650" style="margin-left:30px;">
            </mat-tab>
            <mat-tab label="Nuestra App Móvil">
              <p>Link a la PlayStore</p>
              <img src="assets/app.png" width="150" style="margin-left:30px;">
              <img src="assets/app1.png" width="350" style="margin-left:30px;">
              <img src="assets/app2.jpg" width="350" style="margin-left:30px;">
            </mat-tab>
            <mat-tab label="Menu del Dia">
              <p>Raw denim you probably haven't heard of them jean shorts Austin.
                Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche 
                tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh d
                reamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. A
                liquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel,
               butcher voluptate nisi qui.</p>
            </mat-tab>
          </mat-tab-group>
    </div>     
  </div>
